name: GitHub Profile README Automation

on:
  workflow_call: # Permite ser chamado por outros workflows
    secrets:
      TOKEN:
        required: true
      REPOSITORY_OWNER:
        required: true

jobs:
  generate-all-visualizations:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Force sync with remote
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin
          git reset --hard origin/main
      
      # Snake Animation
      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ secrets.REPOSITORY_OWNER }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          
      # 3D Profile Contribution Matrix
      - name: Generate 3D Profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.REPOSITORY_OWNER }}
          
      # Push Snake Animation to output branch
      - name: Push Snake Animation
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          
      # Commit only 3D Profile (skip dist folder)
      - name: Commit & Push 3D Profile
        run: |
          git add profile-3d-contrib/*.svg
          git diff --staged --quiet || git commit -m "update 3D profile visualization"
          git push
